body{
    width: 100%;
    float:left;
    margin: 0% 0% 0% 0%;
    height:100%;
    border-width: 1px;
}





/* 通用部分 */
ico{
    float: left;
    margin-left:2%;
    margin-top:2%
}
p.header{
    float: left;
}


ico>img{
    padding:0 0 auto auto;
    width:200px;
    display:block;
    
}

.header{
    font-size:150%;
    margin-top:1%;
    font-family: guifanzi;
}

@font-face{
    font-family:fangzheng;
    src:url('../fonts/方正字迹-吕建德行楷简体.ttf');
    
  }
@font-face {
    font-family: agaea;
    src:url('../fonts/AGaramondPro-Regular.otf');
}

@font-face {
    font-family: guifanzi;
    src: url('../fonts/博洋规范字3500.TTF');
}

@font-face{
    font-family: kaiti;
    src:url('../fonts/方正苏新诗柳楷简体.TTF')
}

/* 以下是页签的样式 */
.item {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 60px;
    /* 手风琴效果就是鼠标悬浮宽度过渡 */
    width: 60px;
    margin-top: 1%;
    margin-right:1%;
    /* 超出隐藏，因为要把伪元素文字遮挡住 */
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
    float:right;
}

.icon button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.item:hover {
    width: 180px;
    border: none;
}

/* 悬浮加背景色 */
.first:hover .icon {
    background-color: #cbf1f5;
}

.second:hover .icon {
    background-color: #ffe2e2;
}

.third:hover .icon {
    background-color: #caefe5dd;
}

.fouth:hover .icon {
    background-color: #e9e9e9;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 28px;
    position: relative;
    transition: all 0.5s;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: none;
}

.icon::before{
    content: '';
            height: 1px;
            background: black;
            /* 伪元素默认样式 display: inline;所以需要转成inline-block宽高才会生效 */
            display: inline-block;
            /* 通过定位使下划线在最低层 */
            position: absolute;
            bottom: 15px;
            left:72px;
            width: 0;
            /* 加上一个过渡效果，使之丝滑一些 */
            transition: width 0.36s;
            
}

.icon:hover::before {
    /* 悬浮时候，让下划线伪元素宽度变成100%即可出现效果 */
    width: 90px;
}

.icon img{
    width: 40px;
    height: 40px;
}


/* 通过伪元素添加内容介绍文字 */
.item:nth-child(1) .icon::after {
    position: absolute;
    content: '个人中心';
    /* 宽度随着内容自适应 */
    width: fit-content;
    /* 文字不换行 */
    word-break: keep-all;
    /* 设置伪元素文字大小为中等大小 */
    font-size: 80%;
    left: 72px;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(2) .icon::after {
    position: absolute;
    content: '文创产品';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(3) .icon::after {
    position: absolute;
    content: '校园风景';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}

.item:nth-child(4) .icon::after {
    position: absolute;
    content: '预约管理';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}


/* 以下是要修正的部分 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  
  
  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .calendar_left {
    background: linear-gradient(#c4f185, #86d2f3);
    width: 400px;
    height: 415px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1.5em;
    z-index: 1;
  }
  .calendar_left .header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    color: #FFF;
    font-size: 0.7em;
  }
  .calendar_left .header h1 {
    line-height: 1em;
  }
  .calendar_left .header i {
    cursor: pointer;
  }
  .calendar_right {
    background: linear-gradient(#c4f185, #86d2f3);
    width: 350px;
    height: 415px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    transform: scale(0.95) translateX(-10px);
    z-index: 0;
  }
  .calendar_right .list {
    height: 351px;
    overflow-y: scroll;
    padding: 1em;
  }
  .calendar_right .list ul {
    padding: 2.25em;
  }
  .calendar_right .list li {
    padding: 1em;
    width: 180px;
    color: #FFF;
    transform: translateX(-700px);
  }
  .calendar_right .list .description {
    font-size: 12px;
  }
  .calendar_right form {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .calendar_right input {
    background: #68c9f0;
    border: none;
    padding: 1.2em;
    flex: 2;
    outline: none;
    color: #FFF;
    border-bottom-right-radius: 5px;
  }
  .calendar_right select {
    background: #5d97ad;
    border: none;
    padding: 1.2em;
    outline: none;
    color: #FFF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  .days {
    display: flex;
    justify-content: flex-start;
    width: 400px;
  }
  .days .day_item {
    color: #FFF;
    width: 50px;
    text-align: center;
    padding-bottom: 1em;
  }
  
  .dates {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 350px;
  }
  .dates .date_item {
    color: #FFF;
    width: 50px;
    text-align: center;
    height: 50px;
    padding: 1em;
    cursor: pointer;
    border-radius: 100%;
  }
  
  .present {
    background: #FFF;
    transform: scale(0.7);
    border-radius: 50px;
    padding: 0.95em !important;
    color: #6bc5e9 !important;
    z-index: 0;
    box-shadow: 10px 10px 5px #7acbeb;
    -webkit-animation: bounce-button-in 0.45s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
            animation: bounce-button-in 0.45s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-input-placeholder {
    color: #FFF;
  }
  
  .bounce-in.ng-animate {
    -webkit-animation: none 0s;
            animation: none 0s;
  }
  
  .bounce-in {
    -webkit-animation: bounce-in 0.9s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
            animation: bounce-in 0.9s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
  
  @-webkit-keyframes bounce-in {
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(7px);
    }
    100% {
      transform: translateX(2px);
    }
  }
  
  @keyframes bounce-in {
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(7px);
    }
    100% {
      transform: translateX(2px);
    }
  }
  @-webkit-keyframes bounce-button-in {
    0% {
      transform: translateZ(0) scale(0);
    }
    100% {
      transform: translateZ(0) scale(0.7);
    }
  }
  @keyframes bounce-button-in {
    0% {
      transform: translateZ(0) scale(0);
    }
    100% {
      transform: translateZ(0) scale(0.7);
    }
  }