body{
    width: 100%;
    float:left;
    margin: 0% 0% 0% 0%;
    height:100%;
    border-width: 1px;

    background-image:linear-gradient(to right, #acb6e5 , #86fde8);
    font-family: var(--font-family);
    overflow: hidden;
    
}





/* 通用部分 */
ico{
    float: left;
    margin-left:2%;
    margin-top:2%
}
p.header{
    float: left;
}


ico>img{
    padding:0 0 auto auto;
    width:200px;
    display:block;
    
}

.header{
    font-size:150%;
    margin-top:1%;
    font-family: guifanzi;
}

@font-face{
    font-family:fangzheng;
    src:url('../fonts/方正字迹-吕建德行楷简体.ttf');
    
  }
@font-face {
    font-family: agaea;
    src:url('../fonts/AGaramondPro-Regular.otf');
}

@font-face {
    font-family: guifanzi;
    src: url('../fonts/博洋规范字3500.TTF');
}

@font-face{
    font-family: kaiti;
    src:url('../fonts/方正苏新诗柳楷简体.TTF')
}

@font-face {
  font-family: yingyuyuan;
  src: url('../fonts/Cooperli.TTF');
}

@font-face {
  font-family: yuanti;
  src: url('../fonts/简超圆.TTF');
}

/* 以下是页签的样式 */
.item {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 60px;
    /* 手风琴效果就是鼠标悬浮宽度过渡 */
    width: 60px;
    margin-top: 1%;
    margin-right:1%;
    /* 超出隐藏，因为要把伪元素文字遮挡住 */
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
    float:right;
}

.icon button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.item:hover {
    width: 180px;
    border: none;
}

/* 悬浮加背景色 */
.first:hover .icon {
    background-color: #cbf1f5;
}

.second:hover .icon {
    background-color: #ffe2e2;
}

.third:hover .icon {
    background-color: #caefe5dd;
}

.fouth:hover .icon {
    background-color: #e9e9e9;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 28px;
    position: relative;
    transition: all 0.5s;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: none;
}

.icon::before{
    content: '';
            height: 1px;
            background: black;
            /* 伪元素默认样式 display: inline;所以需要转成inline-block宽高才会生效 */
            display: inline-block;
            /* 通过定位使下划线在最低层 */
            position: absolute;
            bottom: 15px;
            left:72px;
            width: 0;
            /* 加上一个过渡效果，使之丝滑一些 */
            transition: width 0.36s;
            
}

.icon:hover::before {
    /* 悬浮时候，让下划线伪元素宽度变成100%即可出现效果 */
    width: 90px;
}

.icon img{
    width: 40px;
    height: 40px;
}


/* 通过伪元素添加内容介绍文字 */
.item:nth-child(1) .icon::after {
    position: absolute;
    content: '个人中心';
    /* 宽度随着内容自适应 */
    width: fit-content;
    /* 文字不换行 */
    word-break: keep-all;
    /* 设置伪元素文字大小为中等大小 */
    font-size: 80%;
    left: 72px;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(2) .icon::after {
    position: absolute;
    content: '文创产品';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(3) .icon::after {
    position: absolute;
    content: '校园风景';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}

.item:nth-child(4) .icon::after {
    position: absolute;
    content: '预约管理';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}


:root {
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #9796f0;
    --blue: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: consolas;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .contianer {
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
  }
  .calendar {
    height: 610px;
    width: max-content;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
  }
  .calendar {
    box-shadow: var(--shadow);
  }
  .calendar-header {
    background: #9796f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
  }
  .calendar-body {
    pad: 10px;
  }
  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color:rgb(104, 104, 104);
  }
  .calendar-week-days div:hover {
  color:black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  }
  .calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
  }
  .calendar-days div {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .month-picker:hover {
    background-color: var(--color-hover);
  }
  .month-picker:hover {
    color: var(--color-txt);
  }
  .year-picker {
    display: flex;
    align-items: center;
  }
  .year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
  }
  .year-change:hover {
    background-color: var(--light-btn);
    transition:all .2s ease-in-out ;
    transform: scale(1.12);
  }
  .year-change:hover pre {
    color: var(--bg-body);
  }
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
  }
  .calendar-days div span {
    position: absolute;
  }
   .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #fbc7d4;
    border-radius: 20%;
    color: var(--dark-text);
  }
  .calendar-days div.current-date {
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
  }
  .month-list {
    position: relative;
    left: 0;
    top:-250px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  .month-list.hideonce{
    visibility: hidden;
  }
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  .date-time-formate {
    width: 100%;
    height: 50%;
    
    position: relative;
    display: grid;
    grid-template-areas: 'time''campus''button';
    top:60px;
    
  }
  .submitbutton{
    grid-area: button;
    height: 50px;
    width:100px;
    margin-left: 120px;
    margin-top: -60px;
    font-family: yingyuyuan;
    border: none;
    border-radius: 10%;
    letter-spacing: 2px;
    font-size: 100%;
    background-color: #46cdcf;
  }
  .day-text-formate {
    font-family: consolas;
    font-size: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: time;
    align-items: center;
    justify-items: center;
    gap:5px;
    margin-left: -10px;
  }
  /* 为时间框添加基本样式 */
.time {
    padding: 5px 10px;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
}

/* 高亮显示选中的时间 */
.highlighted {
    background-color: #cadefc; /* 高亮 */
}

/* 选中状态的时间样式 */
.timeselected {
    background-color: #46cdcf; /* 蓝色 */
    color: white;
}

/* 鼠标悬停效果 */
.time:hover {
    background-color: #defcf9;
    color:black;
}

  .campus-choose {
    margin-top:50px;
    margin-left: 20px;
    width: 300px;
    position: relative;
    top: -18px;
    text-align: center;
    grid-area: campus;
    display: grid;
    gap:20%;
    grid-template-columns: repeat(2,1fr);
    height: 50px;
    
  }
  .selectedCampus{
    background-color: #cbf1f5;
  }
  #btn1{
    font-size: 100%;
    border-radius: 20px;
    border: none;
    font-family: yuanti;
    letter-spacing: 4px;
    justify-content: center;
  }
  #btn2{
    font-size: 100%;
    border-radius: 20px;
    border: none;
    font-family: yuanti;
    letter-spacing: 2px;
    padding-left: 3px;
  }
  #btn1.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  #btn2.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .submitbutton.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.showtime{
    animation: showtime 1s forwards;
  }
  #btn1.showtime {
    animation: showtime 1s forwards;
  }
  #btn2.showtime {
    animation: showtime 1s forwards;
  }
  .submitbutton.showtime {
    animation: showtime 1s forwards;
  }
  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }
  @media (max-width:375px) {
    .month-list>div{
  
      margin: 5px 0px;
    }
  }

/* 禁用的日期样式 */
.disabled {
    pointer-events: none; /* 禁止点击 */
    color: gray; /* 文字颜色变灰 */
}

/* 当前选中日期的样式 */
.selected {
    background-color: #cca8e9; /* 背景颜色为紫色 */
    color: white; /* 文字颜色为白色 */
}
