h1{
    color: rgb(81, 81, 81);
    font-family: '楷体';
    padding: 30px;
}

body{
    
   
    background-image:url('../images/客服.jpg');
    
    overflow: hidden;
    background-position:center bottom;
    background-repeat: no-repeat;    
   

    background-size: cover; 
    margin:0px;
    background-size:100% 100%;
    background-attachment:fixed;

}
    

.welcomeMessage {
    display: block;
    }


input{
    position: fixed;
    left:32%;
    top:84%;
    width: 460px; height: 30px;
    border-color: #ffffff;border-radius: 10px;
    border:none;
    box-shadow: 5px 5px 10px #888;
}

button{
    position: fixed;
    left:65%;
    top:84%;
    width: 50px; height: 33px;
    background-color: #57a4f7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

main{
    width: 600px;height: 600px;margin: auto;position: relative;top:100px;bottom: 50px;
    border:solid, rgb(255, 255, 255);border-radius: 40px;box-shadow: 5px 5px 10px #888;
    background-color: rgba(245, 242, 242, 0.9);
  }


section{
    position: fixed;
    width: 576px;height:570px;margin: auto;
    top:16.5%;left:29.9%;
    border: none;
    overflow-y: auto;
}


.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 允许垂直滚动 */
    height: calc(100% - 60px); /* 减去输入框和底部间距的高度 */
    padding: 10px; /* 根据需要调整内边距 */
}

/* 发送的消息样式 */
.message-sent {
    background-color: #b1e0ff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: flex-end; /* 发送的消息靠右对齐 */
    max-width: 60%;
}

/* 接收的消息样式 */
.message-received {
    background-color: #e0e0e0; /* 灰色背景 */
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: flex-start; /* 接收的消息靠左对齐 */
    max-width: 60%;
}
 
 
 /* 通用部分 */
ico{
    float: left;
    margin-left:2%;
    margin-top:2%
}
p.header{
    float: left;
}


ico>img{
    padding:0 0 auto auto;
    width:200px;
    display:block;
    
}

.header{
    font-size:150%;
    margin-top:1%;
    font-family: guifanzi;
}

@font-face{
    font-family:fangzheng;
    src:url('../fonts/方正字迹-吕建德行楷简体.ttf');
    
  }
@font-face {
    font-family: agaea;
    src:url('../fonts/AGaramondPro-Regular.otf');
}

@font-face {
    font-family: guifanzi;
    src: url('../fonts/博洋规范字3500.TTF');
}

@font-face{
    font-family: kaiti;
    src:url('../fonts/方正苏新诗柳楷简体.TTF')
}

/* 以下是页签的样式 */
.item {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 60px;
    /* 手风琴效果就是鼠标悬浮宽度过渡 */
    width: 60px;
    margin-top: 1%;
    margin-right:1%;
    /* 超出隐藏，因为要把伪元素文字遮挡住 */
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
    float:right;
}

.icon button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.item:hover {
    width: 180px;
    border: none;
}

/* 悬浮加背景色 */
.first:hover .icon {
    background-color: #cbf1f5;
}

.second:hover .icon {
    background-color: #ffe2e2;
}

.third:hover .icon {
    background-color: #caefe5dd;
}

.fouth:hover .icon {
    background-color: #e9e9e9;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 28px;
    position: relative;
    transition: all 0.5s;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: none;
}

.icon::before{
    content: '';
            height: 1px;
            background: black;
            /* 伪元素默认样式 display: inline;所以需要转成inline-block宽高才会生效 */
            display: inline-block;
            /* 通过定位使下划线在最低层 */
            position: absolute;
            bottom: 15px;
            left:72px;
            width: 0;
            /* 加上一个过渡效果，使之丝滑一些 */
            transition: width 0.36s;
            
}

.icon:hover::before {
    /* 悬浮时候，让下划线伪元素宽度变成100%即可出现效果 */
    width: 90px;
}

.icon img{
    width: 40px;
    height: 40px;
}


/* 通过伪元素添加内容介绍文字 */
.item:nth-child(1) .icon::after {
    position: absolute;
    content: '个人中心';
    /* 宽度随着内容自适应 */
    width: fit-content;
    /* 文字不换行 */
    word-break: keep-all;
    /* 设置伪元素文字大小为中等大小 */
    font-size: 80%;
    left: 72px;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(2) .icon::after {
    position: absolute;
    content: '文创产品';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(3) .icon::after {
    position: absolute;
    content: '校园风景';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}

.item:nth-child(4) .icon::after {
    position: absolute;
    content: '预约管理';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}