body{
    width: 100%;
    float:left;
    margin: 0% 0% 0% 0%;
    height:100%;
    background-image: url(../images/Image_31664659047251.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-width: 1px;
    background-color: rgb(220, 237, 252);
}

.foot{
    margin-top:21%;
    padding-bottom: 0;
    width:auto;
    border-width: 1px;
    color:rgb(0, 3, 5);
    font-family: "楷体";
    font-size: 100%;
}
p{
    text-align: center;
}

h1{
    width:100%;
    word-break: keep-all;
    font-size: 700%;
    text-align: center;
    padding:10% 0 0 0;
    font-family: fangzheng;
    letter-spacing: 20%;
}
h2{
    width:100%;
    color:#044BAE;
    padding:0 0 20px 0;
    word-break: keep-all;
    text-align: center;
    font-family: agaea;
    font-size: 300%;
}

.enter {
    text-align: center;
    /* 贝塞尔曲线动画 */
    animation: enterenter 1.8s  cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.enter-2{
    text-align: center;
    /* 贝塞尔曲线动画 */
    animation: enterenter 1.8s  cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay:0.75s;
}

@keyframes enterenter {
    0% {
        /* 加上文字间距 */
        letter-spacing: 0.5em;
        /* Z轴变换 */
        transform: translateZ(300px);
        /* filter: blur(); 像素模糊效果 */
        filter: blur(12px);
        /* 透明度也要改变 */
        opacity: 0;
    }

    100% {
        transform: translateZ(12px);
        filter: blur(0);
        opacity: 1;
    }
}


/* 通用部分 */
ico{
    float: left;
    margin-left:2%;
    margin-top:2%
}
p.header{
    float: left;
}


ico>img{
    padding:0 0 auto auto;
    width:200px;
    display:block;
    
}

.header{
    font-size:150%;
    margin-top:1%;
    font-family: guifanzi;
}

@font-face{
    font-family:fangzheng;
    src:url('../fonts/方正字迹-吕建德行楷简体.ttf');
    
  }
@font-face {
    font-family: agaea;
    src:url('../fonts/AGaramondPro-Regular.otf');
}

@font-face {
    font-family: guifanzi;
    src: url('../fonts/博洋规范字3500.TTF');
}

@font-face{
    font-family: kaiti;
    src:url('../fonts/方正苏新诗柳楷简体.TTF')
}

/* 以下是页签的样式 */
.item {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 60px;
    /* 手风琴效果就是鼠标悬浮宽度过渡 */
    width: 60px;
    margin-top: 1%;
    margin-right:1%;
    /* 超出隐藏，因为要把伪元素文字遮挡住 */
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
    float:right;
}

.icon button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.item:hover {
    width: 180px;
    border: none;
}

/* 悬浮加背景色 */
.first:hover .icon {
    background-color: rgb(192, 246, 255);
}

.second:hover .icon {
    background-color: pink;
}

.third:hover .icon {
    background-color: rgb(188, 212, 192);
}

.fouth:hover .icon {
    background-color: #e9e9e9;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 28px;
    position: relative;
    transition: all 0.5s;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: none;
}

.icon::before{
    content: '';
            height: 1px;
            background: black;
            /* 伪元素默认样式 display: inline;所以需要转成inline-block宽高才会生效 */
            display: inline-block;
            /* 通过定位使下划线在最低层 */
            position: absolute;
            bottom: 15px;
            left:72px;
            width: 0;
            /* 加上一个过渡效果，使之丝滑一些 */
            transition: width 0.36s;
            
}

.icon:hover::before {
    /* 悬浮时候，让下划线伪元素宽度变成100%即可出现效果 */
    width: 90px;
}

.icon img{
    width: 40px;
    height: 40px;
}


/* 通过伪元素添加内容介绍文字 */
.item:nth-child(1) .icon::after {
    position: absolute;
    content: '个人中心';
    /* 宽度随着内容自适应 */
    width: fit-content;
    /* 文字不换行 */
    word-break: keep-all;
    /* 设置伪元素文字大小为中等大小 */
    font-size: 80%;
    left: 72px;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(2) .icon::after {
    position: absolute;
    content: '文创产品';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family: kaiti;
}

.item:nth-child(3) .icon::after {
    position: absolute;
    content: '校园风景';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}

.item:nth-child(4) .icon::after {
    position: absolute;
    content: '预约管理';
    width: fit-content;
    word-break: keep-all;
    font-size: 80%;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
    font-family:kaiti;
}