<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>预约管理</title>
    <link href="styles/book.css" rel="stylesheet" />
    <script src="scripts/book.js"></script>
</head>

<body>
    <!-- 以下是页签 -->
    
    <div class="item first">
        <div onclick="clickAfter('个人中心')" style="color: #090B0A;" class="icon">
          <img src="images/个人中心.png" alt="个人中心">
        </div>
      </div>
    
    
    <div class="item second">
      <div onclick="clickAfter('文创产品')" style="color: #1A1A1A;" class="icon"><img src="images/商品.png" alt="文创产品"></div>
    </div>
    <div class="item third">
      <div onclick="clickAfter('校园风景')" style="color: #090B0A;" class="icon"><img src="images/风景.png" alt="校园风景"></div>
    </div>
    <div class="item fouth">
      <div onclick="clickAfter('预约管理')" style="color: #090B0A;" class="icon"><img src="images/日历.png" alt="预约管理"></div>
    </div>
<!-- 以上是页签 -->
    <div onclick="clickAfter('首页')" class="ico">
      <ico>
        <img src="images/电子科技大学_爱给网_aigei_com.png" 
        alt="这是电子科技大学的图标" 
        title="电子科技大学"/>
      </ico>
    </div>
    
    <div onclick="clickAfter('首页')" class="header">
      <header>
        <p class="header">
            电子科技大学游客管理系统
        </p>
      </header>
    </div>


    
<div class='calendar' ng-controller='calendarController as calendar'>
  <div class='calendar_left'>
    <div class='header'>
      <i class='material-icons' ng-click='calendar.prev()'>navigate_before</i>
      <h1>{{calendar.month}}</h1>
      <i class='material-icons' ng-click='calendar.next()'>navigate_next</i>
    </div>
    <div class='days'>
      <div class='day_item'>Mon</div>
      <div class='day_item'>Tue</div>
      <div class='day_item'>Wed</div>
      <div class='day_item'>Thu</div>
      <div class='day_item'>Fri</div>
      <div class='day_item'>Sat</div>
      <div class='day_item'>Sun</div>
    </div>
    <div class='dates'></div>
  </div>
  <div class='calendar_right'>
    <div class='list'>
      <ul>
        <li class='bounce-in' ng-repeat='events in calendar.events' ng-show='events.id === calendar.dataId'>
          <span class='type'>It's a {{ events.type }} thing -</span>
          <span class='description'>{{ events.description }}</span>
        </li>
      </ul>
    </div>
    <form ng-submit='calendar.add()'>
      <input ng-model='calendar.description' placeholder='Enter a task for this day' type='text'>
        <select ng-model='calendar.type' placeholder='calendar.type'>
          <option value='Social'>Social</option>
          <option value='Work'>Work</option>
        </select>
      </input>
    </form>
  </div>
</div>




</body>

</html>


<!-- 以下是要修正的部分 -->







